<% @page_title = "Sign up" %>

<%= form_with model: @user, url: join_path(params[:join_code]) do |form| %>
  <section>
    <div>
      <fieldset>
        <legend>
          <strong><%= Current.account.name %></strong>
        </legend>
      </fieldset>

      <div>
        <label>
          <%= form.text_field :name, class: "input", autocomplete: "name", placeholder: "Name", autofocus: true, required: true,
                data: { "1p-ignore": true } %>
        </label>
      </div>

      <div>
        <label>
          <%= form.email_field :email_address, class: "input", autocomplete: "username", placeholder: "Email address", required: true %>
        </label>
      </div>

      <div>
        <label>
          <%= form.password_field :password, class: "input", autocomplete: "new-password", placeholder: "Password", required: true, maxlength: 72 %>
        </label>
      </div>

      <%= form.button type: "submit" do %>
        <span class="for-screen-reader">Save</span>
      <% end %>
    </div>
  </section>
<% end %>
