<figure class="library__book">
  <%= link_to book, class: "txt-undecorated txt-ink flex flex-column gap-half" do %>
    <div class="flex-inline position-relative center">
      <%= image_tag book.cover.attached? ? book.cover : "default-cover.webp", alt: "Book cover", class: "book__cover" %>
      <%= tag.button class: "bookmark", style: "--progress: #{ rand(100) }%" do %>
        <div class="flex align-center gap-half">
          <span class="bookmark__icon">
            <svg viewBox="0 0 64 64" width="30px" height="30px" xmlns="http://www.w3.org/2000/svg">
              <path d="m17.01 54.01v-42.98.00000045c-.00000025-1.65685 1.34315-3 3-3h24-.00000013c1.65685-.00000007 3 1.34315 3 3v42.98.0001206c0 1.10457-.895431 2-2 2-.34994 0-.693756-.0918173-.997105-.266281l-11.5039-6.61564c-.308638-.17748-.688362-.17748-.997 0l-11.5046 6.6153.00000011-.00000006c-.957413.550849-2.1801.221264-2.73095-.736149-.174564-.303405-.266442-.647312-.266451-.997351z" fill-rule="evenodd" fill="var(--color-alert)" />
            </svg>
          </span>
        </div>
        <span class="for-screen-reader">Bookmark: Resume reading where you left off</span>
      <% end %>
    </div>
    <h2 class="margin-none flex flex-column">
      <strong><%= book.title %></strong>
      <small class="translucent txt-normal"><%= book.author %></small>
    </h2>
  <% end %>
</figure>
