<% content_for(:title) { "Edit #{@book.title}" } %>

<% content_for :header do %>
  <nav>
    <%= link_to @book, class: "btn flex-item-justify-start" do %>
      <%= image_tag "arrow-left.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">Cancel and go back</span>
    <% end %>

    <button type="submit" form="book-editor", class="btn btn--positive flex-item-justify-end">
      <%= image_tag "check.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">Save changes</span>
    </button>
  </nav>
<% end %>

<%= render "books/form", book: @book, users: @users, creating_user: nil %>

<div class="panel borderless margin-block-double center txt-medium txt-align-center">
  <%= button_to book_path(@book), method: :delete, class: "btn btn--negative",
        data: { turbo_confirm: "Are you sure you want to delete this book? It cannot be undone." } do %>
    <%= image_tag "trash.svg", aria: { hidden: true }, size: 24 %>
    <span>Delete <%= @book.title %></span>
  <% end %>
</div>
