<% content_for(:title) { "Books" } %>

<div class="library">
  <% @books.each do |book| %>
    <figure class="library__book margin-none">
      <%= link_to book, class: "txt-undecorated txt-ink flex flex-column gap-half" do %>
        <%= image_tag book.cover.attached? ? book.cover : "default-cover.svg", alt: "Book cover", class: "book__cover" %>
        <h2 class="margin-none flex flex-column">
          <strong><%= book.title %></strong>
          <small class="translucent txt-normal">Author</small>
        </h2>
      <% end %>
    </figure>
  <% end %>
</div>

<% content_for :footer do %>
  <div>
    <%= link_to new_book_path, class: "btn" do %>
      <%= image_tag "add.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">Create a new book</span>
    <% end %>
  </div>
<% end %>
