<% content_for(:title) { "Library" } %>
<% @layout_class = "books" %>

<% content_for :header do %>
  <nav>
    <%= button_to session_path, method: :delete, class: "btn flex-item-justify-end" do %>
      <%= image_tag "logout.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">Sign out</span>
    <% end %>

    <div class="breadcrumbs flex-item-justify-end">
      <%= image_tag "books.svg", aria: { label: "Books" }, size: 19, class: "colorize--black", alt: "Books" %>
    </div>

    <% if Current.user.can_administer? %>
      <%= link_to users_path, class: "btn flex-item-justify-end" do %>
        <%= image_tag "people.svg", aria: { hidden: true }, size: 24 %>
        <span class="for-screen-reader">Manage people</span>
      <% end %>
    <% end %>
  </nav>
<% end %>

<div class="library">
  <%= render @books %>
  <%= render "books/new" %>
</div>
